{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
    content %}
    <form method="POST">
      <h3 align="center">Exercises</h3>
      <div class="form-group">
        <label for="ExerName">Name of Exercise</label>
        <input
          type="name"
          class="form-control"
          id="ExerName"
          name="Exername"
          placeholder="Enter exercise name"
        />
      </div>
      <div class="form-group">
        <label for="MuscleGroup">Muscle group</label>
        <input
          type="muscle"
          class="form-control"
          id="MuscleGroup"
          name="MuscleGroup"
          placeholder="Enter muscle group"
        />
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <br />
    <h1 align="center">Exercises</h1>
    <ul class="list-group list-group-flush" id="exercise">
      {% for exercise in user.exercise %}
      <li class="list-group-item">
        {{ exercise.data }}
        <button type="button" class="close" onClick="deleteExercise({{ exercise.id }})">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
      {% endfor %}
    </ul>
    {% endblock %}
    